[submodule ".registry"]
	path = .registry
	url = https://github.com/atlasoflivingaustralia/universe
	shallow = true
	branch = HEAD
[submodule "galah"]
	path = galah
	url = https://github.com/AtlasOfLivingAustralia/galah
	shallow = true
	registered = true
